body {
    margin: 0;
    font-family: "Raleway";
    font-size: 16px;
    line-height: 1.8em;
}

h1 {
    text-transform: uppercase;
    margin: 1em 0;
}

h3 {
    text-transform: uppercase;
}

h3,
h4 {
    font-weight: bold;
}

main {
    max-width: 1140px;
}

main section:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

a {
    color: #1c9c94;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

article {
    padding: 0 1em;
}

section {
    margin: 1em;
    padding: 1em;
}

header,
main,
footer {
    margin: 0 auto;
}

header {
    padding: 2em;
    text-align: center;
    background-image: url("./../assets/img/bg.jpg");
    background-size: cover;
    background-position: fixed;
    color: white;
}

header section {
    margin: 0 auto;
    max-width: 640px;
}

header img {
    border-radius: 50%;
    max-width: 150px;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "advance-knowledge basic-knowledge"
    "languages languages";
}

.advance-knowledge{
    grid-area: advance-knowledge;
} 

.basic-knowledge{
    grid-area: basic-knowledge;
}

.languages{
    grid-area: languages;
}

.fab {
    font-size: 1.5em;
    color: white;
}

a .fab {
    color: white;
}

.school,
.job-title {
    text-transform: capitalize;
}

.school span,
.job-title span {
    color: #889499;
    text-decoration: underline;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 20px 0;
}

.social-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a .fab {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: background-color 0.3s;
}

.social-links a:hover {
    color: #0a66c2;
}

ul>li {
    list-style-type: none;
}

ul>li:before {
    content: "►";
    padding-right: 0.5em;
    color: #509e98;
}

#experience ul li {
    list-style-type: none;
}


#experience ul>li:before {
    content: "✔";
    padding-right: 0.5em;
    color: #509e98;
} 

footer {
    padding: 1em 1.5em;
    background: #a7b8bf;
    color: white;
    text-align: right;
}
