body {
    margin: 0;
    font-family: "Raleway";
    font-size: 16px;
    line-height: 1.8em;
}

a {
    color: #1c9c94;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

article {
    padding: 0 1em;
}

section {
    margin: 1em;
    padding: 1em;
}

header,
main,
footer {
    margin: 0 auto;
}

header {
    padding: 2em;
    text-align: center;
    background-image: url("./../assets/img/bg.jpg");
    background-size: cover;
    background-position: fixed;
    color: white;
}

header section {
    margin: 0 auto;
    max-width: 640px;
}

header img {
    border-radius: 50%;
    max-width: 150px;
}

.container{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "advance-knowledge, basic-knowladge";
}

h1 {
    text-transform: uppercase;
    margin: 1em 0;
}

h3 {
    text-transform: uppercase;
}

h3,
h4 {
    font-weight: bold;
}

main {
    max-width: 1140px;
}

main section:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.fab {
    font-size: 1.5em;
    color: white;
}

a .fab {
    color: white;
}

.course,
.skills {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.course .title {
    color: #509e98;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33%;
}

.course .descrition {
    -ms-flex: 0 0 66.6%;
    flex: 0 0 66.6%;
    max-width: 66.6%;
}

.course .descrition p {
    padding-left: 1em;
}

.skills .column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.skills .column ul,
ul.job-description {
    list-style-type: none;
}

.skills .column ul > li:before {
    content: "►";
    padding-right: 0.5em;
    color: #509e98;
}

.school,
.job-title {
    text-transform: capitalize;
}

.school span,
.job-title span {
    color: #889499;
    text-decoration: underline;
}

ul.job-description li:before {
    content: "✔";
    padding-right: 0.5em;
    color: #509e98;
}

footer {
    padding: 1em 1.5em;
    background: #a7b8bf;
    color: white;
    text-align: right;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 20px 0;
}

.social-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a .fab {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: background-color 0.3s;
}

.social-links a:hover {
    color: #0a66c2;
}

ul>li {
    list-style-type: none;
}

ul>li:before {
    content: "►";
    padding-right: 0.5em;
    color: #509e98;
}

.experience>ul>li {
    list-style-type: none;
}

.experience>ul>li:before {
    content: "✔";
    padding-right: 0.5em;
    color: #509e98;
} 

@media only screen and (max-width: 768px) {
    .course {
        display: block;
    }
    
    .course .title,
    .course .descrition {
        max-width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .skills {
        display: block;
    }

.skills .column {
    max-width: 100%;
}

footer {
    text-align: center;
}
}
