h1 {
  color: rgb(32, 148, 163);
}

h2 {
  color: rgb(188, 35, 202);
}

p {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

code {
  color: blue;
}

h3 {
  font-style: italic;
}

.gray {
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

#cursiva {
  font-style: italic;
}

span {
  font-weight: bold;
}
